<h1>All Articles</h1>

<table>
  <thead>
    <tr>
   
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
      
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
     
      <tr>
  
        <td data-label="Title"><%= article.name %></td>
         <%= article.user.name if article.user%>
        <td data-label="Description"><%= article.description %></td>
        <td data-label="Actions">
          <%= link_to "<i class='fas fa-eye'></i> Show".html_safe, article_path(article), class: "action-link" %> |
          <%= link_to "<i class='fas fa-pencil-alt'></i> Edit".html_safe, edit_article_path(article), class: "action-link" %> |
     <%= link_to article_path(article), 
            data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, 
            class: "delete-link" do %>
            <i class="fas fa-trash"></i> Delete
     <% end %>


        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "<i class='fas fa-plus'></i> New Article".html_safe, new_article_path, class: "new-article-link" %>
