
<h1>Article Details</h1>
  <td data-label="User"> <%=link_to"See All Articles of #{@article.user.name}",user_path(@article.user) %></td>
<p>
  <strong>ID:</strong>
  <%= @article.id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @article.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<br>
<%= link_to "Back To All Artciles", articles_path%>


