<h1>Edit Your Personal Detials</h1>

<%= form_with model: @user, local: true do |form| %>
  <div>
    <%= form.label :name, "Username" %><br>
    <%= form.text_field :name, placeholder: "Enter Username" %>
  </div>

  <% if  @user.errors[:name].any? %>
    <div style="color: #721c24; margin-right: 110px;">
      <ul>
        <li>Name <%= @user.errors[:name].first %></li>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :email %><br>
    <%= form.text_field :email, placeholder: "Enter Your Email" %>
  </div>

  <% if @user.errors[:email].any? %>
    <div style="color: #856404; margin-right: 110px;">
      <ul>
        <li>Email: <%= @user.errors[:email].first %></li>
      </ul>
    </div>
  <% end %>

  
  <div>
    <%= form.submit "Update Detials" %>
  </div>
<% end %>

<br>
<%= link_to "Back To Your Profile", user_path(@user) %>
