<h1>All Users</h1>

<table border="1" cellpadding="8">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <%= link_to "Show", user_path(user) %> 
          <%if logged_in? && user == current_user%>
          <%= link_to "Edit", edit_user_path(user) %> |
          <%= link_to "Delete", user_path(user), method: :delete, data: { confirm: "Are you sure?" } %>
          <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New User", new_user_path %>
